<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UAA</title>

    <div th:replace="fragments/header :: header-css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/sign-in.css}" href="/css/sign-in.css" />

</head>
<body class="text-center">

<form class="form-signin" th:action="@{/sign-in}" method="post">

    <img class="mb-4" src="/img/keep-calm-crown.svg" alt="" width="100" height="100">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username and password.
        </div>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <div th:replace="/fragments/footer :: footer"/>

</form>
</body>
</html>