<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UAA</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: headerinc"></th:block> /*/-->
</head>
<body>


<div class="container">
    <br/>

    <!-- SmartWizard html -->
    <div id="smartwizard">
        <ul>
            <li><a href="#confirmEmail">Activate Account<br/>
                <small>Confirm email</small>
            </a></li>
        </ul>

        <div>

            <!--  Confirm Registation -->
            <div id="confirmEmail">


                <h2>Confirm Registation</h2>

                <div>
                    <div class="help-block">
                        <div th:if="${confirmationToken}" class="alert alert-success" role="alert" th:text=${confirmationToken}></div>
                        <div th:if="${invalidToken}" class="alert alert-danger" role="alert" th:text=${invalidToken}></div>
                    </div>
                </div>

                <div th:if="${invalidToken}">
                    <p>
                        Registration is not complete!
                    </p>
                </div>
                <div th:if="${confirmationToken}">
                    <p>
                        Registration Completed!
                    </p>
                    <label>First Name:</label>
                    <span th:text=${user.firstName} ></span>
                    <br/>
                    <label>Last Name:</label>
                    <span th:text=${user.lastName} ></span>
                    <br/>
                    <label>Email:</label>
                    <span th:text=${user.email} ></span>
                    <br/>
                </div>


            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footerinc :: footerinc"></th:block> /*/-->

<script type="text/javascript" src="js/confirm.js"></script>

</body>
</html>
