<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smart Wizard - a JavaScript jQuery Step Wizard plugin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Include Bootstrap CSS -->
    <link th:href="@{//webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Include SmartWizard CSS -->
    <link th:href="@{//webjars/smartwizard/dist/css/smart_wizard.css}" rel="stylesheet">

    <!-- Optional SmartWizard theme -->
    <link th:href="@{//webjars/smartwizard/dist/css/smart_wizard_theme_circles.css}" rel="stylesheet">
    <link th:href="@{//webjars/smartwizard/dist/css/smart_wizard_theme_arrows.css}" rel="stylesheet">
    <link th:href="@{//webjars/smartwizard/dist/css/smart_wizard_theme_dots.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <br/>
    <form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">

        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1<br/>
                    <small>Email Address</small>
                </a></li>
                <li><a href="#step-2">Step 2<br/>
                    <small>First Name</small>
                </a></li>
                <li><a href="#step-3">Step 3<br/>
                    <small>Last Name</small>
                </a></li>
                <li><a href="#step-4">Step 4<br/>
                    <small>Password</small>
                </a></li>
                <li><a href="#step-5">Step 5<br/>
                    <small>Terms and Conditions</small>
                </a></li>
            </ul>

            <div>
                <div id="step-1">
                    <h2>Your Email Address</h2>
                    <div id="form-step-0" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Write your email address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <h2>Your First Name</h2>
                    <div id="form-step-1" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Write your first name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div id="step-3">
                    <h2>Your Last Name</h2>
                    <div id="form-step-2" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Write your last name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div id="step-4">
                    <h2>Your Password</h2>
                    <div id="form-step-3" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" data-minlength="8" class="form-control" id="inputPassword" placeholder="Password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            <div class="help-block">Minimum of 8 characters and at least one capital letter</div>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="inputPasswordConfirm">Confirm Password</label>

                            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match"
                                   placeholder="Confirm" required>

                            <div class="help-block"></div>
                             <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div id="step-5">
                    <h2>Terms and Conditions</h2>
                    <p>
                        Terms and conditions: Keep your smile :)
                    </p>
                    <div id="form-step-4" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="terms">I agree with the T&C</label>
                            <input type="checkbox" id="terms" data-error="Please accept the Terms and Conditions" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<!-- Include jQuery -->
<!--<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" />-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<!-- Include jQuery Validator plugin -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>-->
<!--<script th:src="@{/webjars/github-com-1000hz-bootstrap-validator/dist/validator.min.js}" />-->
<script type="text/javascript" src="js/1000hz-bootstrap-validator/validator.min.js"></script>


<!-- Include SmartWizard JavaScript source -->
<!--<script th:src="@{/webjars/smartwizard/dist/js/jquery.smartWizard.min.js}" />-->
<script type="text/javascript" src="js/smartWizard/jquery.smartWizard.min.js"></script>
<script type="text/javascript" src="js/registration.js"></script>


</body>
</html>
