<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UAA</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: headerinc"></th:block> /*/-->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/sign-in.css}" href="/css/register.css"/>


</head>
<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h4>New User Registration</h4>


        <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" th:text=${confirmationMessage}></div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>


        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post" class="m-t" role="form" data-toggle="validator">

            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message alert alert-danger" role="alert"></div>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message alert alert-danger" role="alert"></div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message alert alert-danger" role="alert"></div>

            <div class="form-group input-group has-feedback">
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                       class="validation-message"></label>
                <span class="input-group-addon">
                    <span class="fa fa-user-circle-o" style="font-size:20px; padding: 10px"></span>
                </span>
                <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control" required/>
                <span class="fa form-control-feedback" aria-hidden="true" style="font-size:20px"></span>
            </div>


            <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
                    <span class="fa fa-user-circle-o" style="font-size:20px; padding: 10px"></span>
                </span>
                <input type="text" th:field="*{lastName}"
                       placeholder="Last Name" class="form-control" required/>
                <span class="fa form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
                    <span class="fa fa-envelope" style="font-size:20px; padding: 10px"></span>
                </span>
                <input type="email" th:field="*{email}"
                       placeholder="Email Address" class="form-control"
                       data-error="This email address is invalid" required/>
                <span class="fa form-control-feedback" aria-hidden="true"></span>
            </div>


            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
        </form>

    </div>
    <div th:replace="/fragments/footer :: footer"/>
</div>


</body>
<!--/*/ <th:block th:include="fragments/footerinc :: footerinc"></th:block> /*/-->

</html>