<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UAA</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: headerinc"></th:block> /*/-->

     <link rel="stylesheet" th:href="@{/css/sign-in.css}" href="/css/sign-up.css" />

</head>
<body>
<!--https://medium.com/wdstack/bootstrap-4-form-examples-c18ac5e9cd30-->
<div class="container-fluid bg-light py-3">
    <div class="row">

        <div class="col-md-6 mx-auto">
            <div align="center">
                <img class="mb-4" src="/img/keep-calm-crown.svg" alt="" width="100" height="100">
            </div>

            <div class="card card-body">
                <h3 class="text-center mb-4">Sign-up</h3>
                <div class="alert alert-danger"  th:if="${param.error}">>
                    <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                </div>

                <form class="form-sign-up" th:action="@{/sign-up}" method="post">

                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Enter your First Name" name="firstName" type="text" required >
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Enter your Last Name" name="lastName" type="text" required >
                        </div>

                        <div class="form-group has-error">
                            <div class="input-group" data-validate="email">
                                <input type="text" class="form-control" name="validate-email" id="validate-email" placeholder="Enter your E-mail Address" required>
                                <span class="input-group-addon danger"><span class="fa fa-remove"></span></span>
                            </div>
                        </div>


                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Enter your Password" id="password" name="password" value="" type="password"
                                   required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                        </div>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Confirm your Password" id="passwordConfirm" name="passwordConfirm" value="" type="password">
                        </div>
                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option selecterd="">Sequrity Question</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Sequrity Answer" name="answer" value="" type="text">
                        </div>
                        <div class="checkbox">
                            <label class="small">
                                <input name="terms" type="checkbox">I have read and agree to the <a href="#">terms of service</a>
                            </label>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Sign Me Up" type="submit">
                    </fieldset>
                </form>
                <div th:replace="/fragments/footer :: footer"/>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footerinc :: footerinc"></th:block> /*/-->

<script type="text/javascript" src="js/sign-up.js"></script>

</body>
</html>
