<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="footerinc">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then jquery-validate -->
   <!-- <script th:src="@{/webjars/jquery/dist/jquery.min.js}" />
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" />
    <script th:src="@{/webjars/jquery-validate/jquery.validate.min.js}" />-->


    <!-- Include jQuery -->
    <!--<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include jQuery Validator plugin -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>-->
    <!--<script th:src="@{/webjars/github-com-1000hz-bootstrap-validator/dist/validator.min.js}" />-->
    <script type="text/javascript" src="js/1000hz-bootstrap-validator/validator.min.js"></script>

    <!-- Include SmartWizard JavaScript source -->
    <!--<script th:src="@{/webjars/smartwizard/dist/js/jquery.smartWizard.min.js}" />-->
    <script type="text/javascript" src="js/smartWizard/jquery.smartWizard.min.js"></script>


</div>
</body>
</html>