<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="footerinc">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then jquery-validate -->
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}" />
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" />
    <script th:src="@{/webjars/jquery-validate/jquery.validate.min.js}" />

</div>
</body>
</html>