<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="footer">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then jquery-validate -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" />
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" />
    <script th:src="@{/webjars/jquery-validate/jquery.validate.min.js}" />

    <div class="container">
        <footer>
            <p class="mt-5 mb-3 text-muted">&copy; 2018 keepcalm.ch</p>
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
        </footer>
    </div>

</div>
</body>
</html>